@page "/admin/products/details/{id:long}"
@inherits OwningComponentBase<IProductRepository>

@if(Product != null){
    <table class="table table-sm table-bordered table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Product?.ProductId</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>@Product?.Name</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Product?.Description</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>@Product?.Category?.Name</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>@Product?.Supplier?.Name</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>@Product?.Price.ToString("C")</td>
            </tr>
        </tbody>
    </table>
}else {
    <h1 class="bg-danger text-white text-center p-1">There is no Product with Id @Id</h1>
}


<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin/products">Back</NavLink>

@code {
    private IProductRepository _repository => Service;

    [Parameter]
    public long Id { get; set; }

    public Product? Product { get; set; }

    protected override void OnParametersSet()
    {
        Product = _repository.Products.Include(p => p.Category).Include(p => p.Supplier).FirstOrDefault(p => p.ProductId == Id);
    }

    public string EditUrl => $"/admin/products/edit/{Id}";
}
