
<Router AppAssembly="typeof(Program).Assembly">
    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(AdminLayout)"/>
    </Found>
    <NotFound>
        <h1 class="bg-danger text-white text-center p-2">
            No matchingroute found
        </h1>
    </NotFound>
</Router>